<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://www.railstutorial.org/help">Rails Tutorial help
  page</a>.
  To get help on this sample app, see the
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails
  Tutorial</em> book</a>.
</p>

<ul>
  <li>url: http://127.0.0.1:3000/static_pages/help</li>
  <li>file: /app/views/static_pages/help.html.erb</li>
</ul>
