<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<ul>
    <li>url: http://127.0.0.1:3000/static_pages/home</li>
    <li>file: /app/views/static_pages/home.html.erb</li>  
</ul>
