<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>
  <body>

    <%# partials: bloque de codigo html llamado como una funcion  %>
    <%# partial 2. %>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>  
      <%# partial 3. %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>